// 대표 색깔
$color: #51b6a0;

#bodyMiddle {
  height: 100%;
  background-color: rgb(117, 117, 117);
  // LP판 정보란
  #bodyMainLp {
    background-color: red;
    #bodyMainLpImg {
      background-color: aqua;
    }
    #bodyMainLps {
      background-color: rgb(130, 219, 57);
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      #MainLp {
        background-color: green;
        width: 200px;
        height: 200px;
        #bodyMainLpImg {
          width: 100%;
          height: 152px;
        }
      }
    }
    #MainButton {
      display: flex;
      margin: auto;
      border: none;
      button {
        padding: 20px;
      }
    }
  }
  // 레코드 기계판 정보란
  #bodyMainRecord {
    background-color: red;
    #bodyMainRecordImg {
      background-color: aqua;
    }
    #bodyMainRecords {
      background-color: rgb(130, 219, 57);
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      #Record {
        background-color: green;
        width: 200px;
        height: 200px;
      }
    }
    #RecordButton {
      display: flex;
      margin: auto;
    }
  }
}
