#createProductBody {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  background-color: antiquewhite;
  #FreeView {
    display: flex;
    //이미지
    #FreeViewImgs {
      height: 560px;
      #FreeViewImg {
        height: 500px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      width: 100%;
      /*이미지박스*/
      #createFreeViewBoxs {
        display: flex;
        align-items: center;
        justify-content: center;
        #createFreeViewBox {
          margin: 4px 7px;
          /*이미지*/
          #createFreeView {
            background-color: blue;
            width: 50px;
            height: 50px;
          }
        }
      }
    }
    // 상품 정보란
    #createProducts {
      width: 100%;
      background-color: bisque;
      #createProductBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        #createProductH1 {
          font-size: 40px;
          font-weight: bold;
          padding-bottom: 10px;
        }
        #createProductDiv {
          padding-bottom: 50px;
          font-size: 14px;
        }
      }
      #createProduct {
        padding: 10px 0;
        label {
          display: block;
          padding: 5px;
        }
        input {
          width: 100%;
        }
      }
    }
  }
}
