#mainLpPage {
  padding-top: 50px;
  background-color: red;

  #mainLpPageBox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    #mainLp {
      width: 25%;
      height: 400px;
      padding: 10px;
      #mainLpImg {
        width: 100%;
        height: 300px;
      }
    }
  }
}
