#myPageBody {
  display: flex;
  height: 100%;
  background-color: beige;
  padding: 50px;
  // 유저 이미지
  #myPageBodyImgBox {
    display: flex;
    flex-direction: column;
    background-color: white;
    #myPageImg {
      width: 250px;
      height: 250px;
      border-radius: 50%;
    }
  }

  // 유저 정보
  #myPageBodyInForMation {
    padding: 0 50px;
  }
}
