#myPageBody {
  display: flex;
  height: 100%;
  background-color: beige;
  padding: 50px;
  // 유저 이미지
  #myPageBodyImgBox {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    #myPageImg {
      width: 250px;
      height: 250px;
      border-radius: 50%;
    }
  }

  // 주문 내역 상태
  #myPageBodyInForMation {
    padding: 0 0 0 50px;
    // 주문내역 바디
    width: 100%;
    #orderInquiryBody {
      background-color: red;
      // 바디 안쪽
      #orderInquiryBodyOrder {
        width: 100%;
        // 바디 제목
        #orderInquiryBodyOrderH1 {
          font-size: 40px;
          font-weight: bold;
          padding-bottom: 50px;
        }
        // 안쪽 product
        #orderInquiryProductOrder {
          background-color: yellow;
          // 상태코드 정보란
          #mapageOrderProduct {
            #mapageOrderProductStateH1 {
              font-size: 30px;
              font-weight: bold;
              padding-bottom: 20px;
            }
            #mapageOrderProductState {
              background-color: gray;
            }
          }
        }
      }
    }
  }
}
#OnePage {
  font-size: 15px;
  #OnePageProfile {
  }
}
